<div class="container signup-sheet">
	<div class="row">
		<div class="col-sm-6"><input type="text" name="firstName" id="firstName" placeholder="First Name"/></div>
		<div class="col-sm-6"><input type="text" name="lastName" id="lastName" placeholder="Last Name"/></div><br><br>
		<div class="col-sm-6"><input type="text" name="email" id="email" placeholder="Email"/></div>
		<div class="col-sm-6"><input type="text" name="mobileNumber" id="mobileNumber" placeholder="Mobile Number"/></div>
    <div class="col-sm-6"><input type="text" name="city" id="city" placeholder="City"/></div>
    <div class="col-sm-6"><input type="text" name="pinCode" id="pinCode" placeholder="Pin Code"/></div>
	</div>
  <div class="save-detail-but">
		<button type="button" class="btn btn-primary" onclick="saveDetails()" >Save Details</button>
  </div>
</div>
